body {
  height: 100%;
  background-image: url('img/evening-55067.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
