@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: url('img/evening-55067.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 5em auto;
  input{
    width: 30%;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
    padding-left: 20px;
    color: #333;
    outline: none;
  }

  .search-btn{
    position: relative;
    transform: translate(-150%);
    border: none;
    background-color: inherit;
    outline: none;
    .search-icon{
      font-size: 40px;
      color: #333;

    }
  }
}

/// Error

.error{
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  margin-top: 8em;
  text-align: center;
}

/// City info

.weather-display{
  width: 30%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  font-family: 'Manjari', sans-serif;
  h1{
    font-weight: 400;
    margin-bottom: 50px;
  }
  i{
    font-size: 150px;
  }
}

